ul{
  display: inline-block;
}

ul.post-grid {

  margin:0;
  padding:0;
  list-style-type:none;
}

li {
    display: inline-block;
    width: 300px;
    height:250px;
    padding:20px;
    margin-right: 20px;
    cursor:pointer;
    transition: background linear 0.5s;
    border-bottom:1px solid #3A8BAB;
}
li:hover{
  background: #3A8BAB;
  color:white;

}
.content {
  width:100%;
  position:relative;
  padding:20px 40px 20px;
}

p{
  text-overflow: ellipsis;
  overflow: hidden;
}
#author{
  text-overflow: ellipsis;
}

#sel1{
  margin-left: 20px;
  border: solid;
  width: 300px ;
  height: 35px ;

  text-align: center;
}
#category{
  padding-left: 20px;
  display: inline-block;
  position: relative;
  left:30px ;
}
label{
  padding-left: 20px;
}
